/*********** This is the main css stylesheet for isaacmiller.github.io/project-2 site */

/*********** Typography */

body {
    color: #ffffff;
}
:root {
    --body:'Libre Franklin', sans-serif; 
    --headings:'Squada One', sans-serif; 
}

.overlay.text span {
    display: block;
    margin-top: 0;
    font-size: 50px;
}




/*********** Color */



/*********** Layout */
section {
    width: 100vw;
    height: 100vh;
    padding: 60px;
}

#first-section {
    background-color: black;
    font-family: var(--headings)
}

.overlay{
    position: absolute;
    top: 0;
    left: 50;
    text-align: right;
}

.overlay-section{
    position: relative;
    display: flex;
}

#second-section {
    background-color: black;
    font-family: var(--body);
    position: absolute;
}

#third-section {
    font-family: var(--body);
    position: absolute;
    top: 1100px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.chunk {
    background-color: black;

}

.image {
    width: 500px;
    height: 300px;
    
}
.container {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    }

    .buttons{ 
    display: flex;
    flex-direction: column;
}

.container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}



.flex-paragraph {
    flex: 1;
    max-width: 50%;
}

.dirk {
    display: flex;
    align-items: center;
}

/*********** Navigation */
nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 56px 0;
    font-size: 24px;
    background-color: black;
}

nav ul {
    list-style-type: none;
    display: contents;
}

li {
    margin: 15px;
}
