/*********** This is the main css stylesheet for isaacmiller.github.io/project-2 site */

/*********** Typography */
:root {
    --body:'Libre Franklin', sans-serif; 
    --headings:'Squada One', sans-serif; 
}




/*********** Color */

/*********** Navigation */

/*********** Layout */
section {
    width: 100vw;
    height: 100vh;
    padding: 60px;
}

#first-section {
    background-color: black;
    font-family: var(--headings);
}

#second-section {
    background-color: white;
    font-family: var(--body);
}

#third-section {
    background-color: white;
    font-family: var(--body);
}

.flex {
    display: flex;
    flex-direction: row;
}

.chunk {
    background-color: white;

}

.image {
    width: 500px;
    height: 300px;
}

.buttons{ 
    display: flex;
    flex-direction: column;
}